@import "./variables";

button[class*="MuiButton-raisedSecondary"] {
    background-color: $secondary;
    color: $text2;

    &:hover {
        background-color: darken($secondary, 10%);
    }

    svg * {
        fill: $text2;
    }
}

button[class*="MuiButton-raisedPrimary"] {
    background-color: $secondary;
    color: white;

    &:hover {
        background-color: darken($secondary, 10%);
    }

    svg * {
        fill: white;
    }
}

button[class*="flatPrimary"]{
    &:hover {
        background-color: lighten($secondary, 65%);
    }

    svg * {
        fill: $secondary;
    }
}

button[class*="flatSecondary"]{
    &:hover {
        background-color: lighten($secondary, 65%);
    }

    svg * {
        fill: $secondary;
    }
}