@import "./variables";

[class*="MuiInputLabel-formControl"] {
    &[class*="MuiFormLabel-focused"] {
        color: $secondary !important;
    }
}

[class*="MuiInput-inkbar"] {

    &:hover {
        &:before {
            background-color: lighten($secondary2, 25%) !important;
        }
    }

    &::after {
        background-color: $secondary !important;
    }

    &[class*="MuiInput-focused"] {
        &::after {
            background-color: $secondary;
        }
    }
}