.modal {
    > div:last-of-type {
        top: 44%;
        left: 48%;
        transform: translate(-44%, -48%);
        width: 400px;
        padding: 32px 32px 15px;
        position: absolute;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
        background-color: #fff;
    }

    .title {
        text-align: center;
        text-transform: uppercase;
    }
}