@import "./variables";
@import "./modals.scss";
//@import "./buttons.scss";
@import "./text.scss";
//@import "./checkboxes.scss";
@import "./fontWeights.scss";
//@import "./inputStyles.scss";

html, body, #app {
    width: 100%;
    display: flex;
    height: 100%;
    min-height: 100%;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding-top: 100px;
}

#app > div {
    width: 100%;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.error {
    margin: 0;
    color: #f44336;
}