.employer_page {

    .employer_page_content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
            text-align: center;
            margin-bottom: 12px;
        }

        .employer_page_form_container {
            max-width: 500px;
            width: 100%;
            padding: 24px;
            margin-bottom: 44px;

            form {
                display: flex;
                flex-direction: column;
                > div {
                    margin-bottom: 24px;
                }
            }
        }
    }

}