.skills_list {
    width: 100%;
    max-width: 600px;

    .skills_list_item {
        * {
            cursor: pointer;
        }

        h4 {
            margin: 0;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid gray;
        }
    }

    .skills_list_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > ul {
            width: 100%;
        }

        * {
            text-align: left;
        }
    }

    .table_head {

        .table_column_names {
            font-size: 28px;
        }
    }

    .title_table {
        display: inline-block;
        width: 100%;
        height: 64px;
        line-height: 64px;
        padding-left: 32px;
    }

    .skills_table_action_column > div {
        display: flex;
        position: relative;
        justify-content: center;

        > button {
            width: 52px;
            max-width: 52px;
            min-width: 52px;
        }

        > button:not(.skill_add):not(.skill_edit) {
            position: absolute;
            right: 60px;
        }
    }
}