@import "../../../../app/styles/variables";

.action_confirmation_modal {
    .action_confirmation_modal_title {
        margin-bottom: 12px;
    }

    .action_confirmation_modal_actions {
        text-align: right;
        & > button:first-of-type {
            margin-right: 12px;
        }
    }
}