$color-secondary: #00897b;

.file_uploader {
    &.file-selected {
        transition: border-width 0.1s ease;
        border:4px solid $color-secondary;
    }
    border-radius: 4px;
    border: 1px dashed #ccc;
    position:absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: border-width 0.1s ease;
    .file_uploader_zone {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .preview_image {
        position:absolute;
        max-width: 100%;
        max-height: 100%;
    }
}