.login_form {
    width: 400px;

    .error {
        color: darkred;
        text-align: center;
    }

    .login_form_wrapper {
        padding: 36px 24px;
    }

    .login_form_content {
        display: flex;
        flex-direction: column;
    }

    .login_form_header {
        margin-bottom: 24px;
        text-align: center;
    }

    .login_form_input {
        &:not(:last-of-type) {
            margin-bottom: 16px;
        }
    }

    .login_form_actions {
        display: flex;
        justify-content: center;
    }
}