.dashboard_page {
    padding-bottom: 48px;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > div:not(:last-of-type) {
            margin-bottom: 44px;
        }
    }
}