.job_edit_form {
    max-width: 500px;
    width: 100%;
    margin:0 auto;

    .job_edit_form_fields {
        padding: 32px 32px 15px;
        display: flex;
        flex-direction: column;
        .title {
            margin: 20px 0 5px 0;
        }
        .job_creation_date {
            margin-bottom: 20px;
        }
        .job_btns_group {
            display: flex;
            justify-content: flex-end;
            margin-top: 30px;
        }
    }
}
