.top_bar {
    background-color: white !important;
    height: 70px;
    > div {
        color: black;
        text-align: center;
        display: flex;
        padding: 0 12px;
        margin-bottom: 24px;
        align-items: center;
        justify-content: space-between;

        > div {
            display: flex;
            align-items: center;
        }

        img {
            width: 40px;
            margin-right: 12px;
        }

        .to_dashboard {
            cursor: pointer;

            > svg {
                margin-right: 12px;
            }
        }
    }

}