@import "../../../app/styles/variables";

.requirements_selection {
  max-width: 500px;
  width: 100%;
  padding: 32px 20px 20px;
  margin: 0 auto;
  .job_title {
    position: relative;
    margin-bottom: 10px;
    .icon_job_first  {
      color: $grey9;
      cursor: pointer;
      & svg[class*="MuiSvgIcon"] {
        width: 1.2em;
        height: 1.2em;
        margin: 0 7px 5px 0;
        vertical-align: middle;
      }
    }
    .text_job_prev {
      color: $grey9;
      cursor: pointer;
    }
    .icon_job_prev {
      color: $grey9;
      svg[class*="MuiSvgIcon"] {
        width: 1.2em;
        height: 1.2em;
        margin: 0 7px 2px;
        vertical-align: middle;
      }
    }
  }
  .list_placeholder {
    font-size: .9em;
    font-style: italic;
    margin: 20px;
  }
  .title {
    margin-bottom: 20px;
  }
  .job_name {
    font-size: 1em;
    margin-bottom: 7px;
  }
  .btn_add_skill {
    box-shadow: 1px 1px 4px rgba(0,0,0,.4);
    padding: 3px 18px 3px 10px;
  }

  .btn_icon {
    width: 1.4em;
    height: 1.4em;
    margin-left: 10px;
    vertical-align: middle;
  }

  div[class*="MuiGrid-spacing"] {
    width: calc(100% + 40px);
    margin: 20px -20px;
  }

  .requirements_table_head {
    tr[class*='MuiTableRow-typeHead'] {
      height: 40px;
    }
    th[class*='MuiTableCell-paddingDefault']:last-child {
      text-align: right;
    }
    .requirement_description {
      padding-left: 2em;
    }
  }

  .job_btns_group {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    .btn_cancel {
      margin-right: 10px;
    }
  }

    .requirement {
      position: relative;
      .icon_arrow {
        color: $grey9;
      }
      .requirement_name {
        cursor: pointer;
        padding-left: 2em;
      }
      &:hover .icon_trash {
          visibility: visible;
      }

      svg {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .icon_trash {
      width: 1.4em;
      height: 1.4em;
      margin-left: 20px;
      visibility: hidden;
      vertical-align: middle;
    }
    .rating {
      width: 100%;
      min-width: 90px;
      position: relative;
      height: 100%;
      & > div[class*="Rating-root"] {
        position: absolute;
        top: 50%;
        right:0;
        transform: translateY(-50%);
        width: 120px;
        button {
          width: 20%;
          height: 20%;
          min-height: 15px;
          min-width: 15px;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
}