$color-grey:#E0E0E0;
$color-font-grey: #9E9E9E;
$color-secondary: #00897b;
$tablets: 768px;

@mixin skill_card($minWidth, $paddingTop, $leftRightPadding, $paddingBottom){
    width: 100%;
    max-width: $minWidth;
    padding: $paddingTop $leftRightPadding $paddingBottom;
    margin: 0 auto;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    .edit_skill_actions{
        display: flex;
        justify-content: flex-end;
    }
    .title {
        margin-bottom: 30px;
    }
}
@mixin link_hover($color, $amount) {
    background: transparent;
    color: darken($color, $amount)
}

@mixin skills_list() {
    padding: 15px 0 40px;
    p {
        line-height: 30px;
        font-size: 0.9em;
        cursor: pointer;
        padding-left: 0.6em;
        &.active {
            background: $color-grey;
            &:hover {
                color: rgba(0, 0, 0, 0.87);
            }
        }
        &:hover {
            color: $color-font-grey;
        }
    }
}

@mixin card-header() {
    color: #fff;
    line-height: 30px;
    position: absolute;
    font-size: 1.2em;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}

@mixin disabled() {
    color: $color-font-grey;
    &:hover {
        color: $color-font-grey;
    }
}


.edit_skill {
    @include skill_card(500px, 32px, 32px, 32px);
    .edit_skill_translate {
        display: flex;
        justify-content: space-between;
        margin: 16px 0 12px 0;
      .language_select {
        margin-left: 20%;
        width: 35%;
      }
    }

    .edit_skill_content {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        > div:not(:last-of-type) {
            margin-bottom: 12px;
        }
    }

    .edit_skill_modal_actions {
        > button:first-of-type {
            margin-right: 12px;
        }
    }

    .success_text {
        display:inline;
        margin-left: 30px;
    }
}

.edit_skill_img {
    @include skill_card(900px, 32px, 32px, 32px);
    .icon_grey {
        color: $color-font-grey;
    }
    .images_wrapper {
        width:96%;
        overflow: hidden;
        .images_box {
            position:relative;
            height: 230px;
            overflow-y: scroll;
            padding-right: 32px;
            width: calc(100% + 36px);
            .no_results {
                margin: 5px 20px;
                font-style: italic;
                color: $color-font-grey;
            }
            .loading_stock_images {
                position:absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .skill_image {
                height: 63px;
                width: 63px;
                cursor: pointer;
                &.active {
                    border: 4px solid $color-secondary;
                    border-radius: 4px;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .upload_wrapper {
        width:96%;
        overflow-x: hidden;
        .upload_section {
            margin-top: 20px;
            height: 100%;
            position: relative;
            display: flex;
            overflow-y: scroll;
            padding-right: 48px;
            width: calc(100% + 36px);
            .upload_description {
                font-size: 0.8em;
            }
            .upload_input {
                display: none;
            }
            .button_upload {
                margin: 15px 0;
                padding: 7px 15px;
            }
        }
    }

    .drop_zone {
        position: relative;
        background-color: $color-grey;
        height:100px;
        width:100%;
        .drop_zone_content {
            width: 100px;
            transform: translate(-50%, -50%);
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
    .selected_image_container {
        height: 280px;
        background-color: $color-grey;
        text-align: center;
        overflow: hidden;
    }
    .reset_image{
        margin-top: 10px;
        float: right;
    }
    .preview_image {
        height: 100%;
        width:auto;
    }
    .no_image_placeholder {
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// skill relations

.skills_relations {
    margin-bottom: 40px;
    .skill_header {
        @include card-header();
    }
    .top_control_section {
        position: relative;
        height: 180px;
        width: 96%;
        margin: 0 auto;
        box-shadow: none;
        background: $color-grey;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 20px;
        margin-bottom: 10px;
        overflow: hidden;
        .banner_image {
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            width: 100%;
        }
        .top_control_content {
            width: 87%;
            position:relative;
            height: 30px;
            .top_control_btn {
                background: #fff;
                position: absolute;
                min-height: 30px;
                padding: 5px 20px;
                &.btn_finish {
                    right: 0;
                    top:0;
                    color: $color-secondary;
                }
                &.btn_cancel {
                    left: 0;
                    top:0;
                }
            }
        }
    }
    .search-cards-wrapper{
        min-width: 300px;
        .search_skills_card {
            @include skill_card(500px, 32px, 32px, 15px);
            position: relative;
            //margin-bottom: 15px;
            min-height: 300px;
            .search_skills {
                text-align: center;
                .clear-input {
                    width: 1.4em;
                    height: 1.4em;
                    vertical-align: middle;
                }
            }
            .search_results {
                @include skills_list();
                .search_results_title {
                    color: $color-font-grey;
                    font-size: 1em;
                }
                .no_results {
                    font-style: italic;
                    color: $color-font-grey;
                }
            }
        }
    }

    .btns_assign {
        display: flex;
        justify-content: space-between;
        width: 94%;
        left: 3%;
        position: absolute;
        bottom: 10px;
        button {
            padding: 0;
            color: $color-secondary;
            &:hover {
               @include link_hover($color-secondary, 10%)
            }
            &:disabled {
                @include disabled();
            }
            svg {
                width: 1.2em;
                height: 1.2em;
                &.arrow_back {
                    margin-right: 5px;
                }
                &.arrow_forward {
                    margin-left: 5px;
                }
            }
        }
    }
    .recomended_skils {
        @include skill_card(500px, 32px, 32px, 15px);
        position: relative;
        .search_results {
            @include  skills_list();
        }
    }
    .aside-card-wrapper {
        min-width: 250px;
        .search_results {
            @include  skills_list();
            p {
                position: relative;
                .delete_skill {
                    position:absolute;
                    color: $color-secondary;
                    width: 1.2em;
                    height: 1.2em;
                    right: 0;
                    top: 4px;
                    display: none;
                }
                &:hover .delete_skill {
                    display: block;
                }
            }
        }
        .aside_card {
            height: 100%;
            @include skill_card(500px, 32px, 32px, 15px);
        }
    }
}
@media screen and (max-width: $tablets) {
    .edit_skill_img {
        .edit_skill_content[class*="MuiGridList-root"] {
            flex-wrap: nowrap;
        }
    }
}