.edit_skill_modal {

    .edit_skill_modal_translate {
        display: flex;
        justify-content: space-between;
        margin: 16px 0 12px 0;
    }

    .edit_skill_modal_content {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        > div:not(:last-of-type) {
            margin-bottom: 12px;
        }
    }

    .edit_skill_modal_actions {
        > button:first-of-type {
            margin-right: 12px;
        }
    }
}