@import "../../../../app/styles/variables";

.overlay {
    height: 100vh;
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    width: 100%;
    z-index: 2000;
}

.job_skills_list {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 100px;
    width: 100%;
    max-width: 600px;
    z-index: 2100;
    .skills_short_column {
        width: 100px;
        &.btn_add {
            padding-right: 32px;
            text-align: right;
        }
    }
    td[class*='MuiTableCell-paddingDefault'],
    th[class*='MuiTableCell-paddingDefault']{
        padding: 4px 56px 4px 32px;
    }
    .skills_list_item {
        * {
            cursor: pointer;
        }

        h4 {
            margin: 0;
        }
        &:hover {
            background: $lightGray;
        }
        &.active td[class*="MuiTableCell-root"] {
            color: $grey9;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid gray;
        }
    }

    .skills_list_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .list_header {
            margin: 15px 0;
        }
        .skills_search {
            padding: 0 32px;
            text-align: right;
        }
        > ul {
            width: 100%;
        }
        table {
            text-align: left;
        }
    }

    .table_head {

        .table_column_names {
            font-size: 28px;
        }
    }

    .title_table {
        display: inline-block;
        width: 100%;
        height: 64px;
        line-height: 64px;
        padding-left: 32px;
    }

    .skills_table_action_column > div {
        display: flex;
        position: relative;
        justify-content: center;

        > button {
            width: 52px;
            max-width: 52px;
            min-width: 52px;
        }

        > button:not(.skill_add):not(.skill_edit) {
            position: absolute;
            right: 60px;
        }
    }
}