@import "../../../../app/styles/variables";

.paginator {
    display: flex;
    justify-content: center;

    * {
        user-select: none;
        outline: 0;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;

        li {
            padding: 0;
            line-height: 28px;

            a {
                line-height: 34px;
            }
        }

        .previous, .next {
            padding: 0;
            cursor: pointer;
            line-height: 30px;
            border: 1px solid rgba(36, 43, 51, .15);
            border-radius: 2px;
            background-color: #f4f4f5;
            user-select: none;

            &.disabled {
                cursor: default;
                opacity: .35;
            }

            a {
                display: block;
                height: 34px;
                padding: 0 12px;
            }
        }

        li:not(.previous):not(.next) {
            display: block;
            text-align: center;
            cursor: pointer;
            border: 1px solid rgba(36, 43, 51, .15);
            border-radius: 2px;
            margin: 0 4px;
            width: 32px;

            &:hover {
                background-color: lighten($secondary, 65%);
            }

            &.selected {
                background-color: $secondary;
                color: white;
            }

            a {
                display: block;
                width: 32px;
            }
        }
    }
}