.jobs_list {

    .jobs_list_item {
        * {
            cursor: pointer;
        }

        h4 {
            margin: 0;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid gray;
        }
    }

    .jobs_list_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > ul {
            width: 100%;
        }

        * {
            text-align: left;
        }
    }

    .jobs_list_header_add {
        margin-left: 12px;
    }

    .paginator {
        margin-top: 24px;
    }

    .table_head {
        .table_column_names {
            font-size: 28px;
        }
    }

    .title_table {
        display: inline-block;
        width: 100%;
        height: 64px;
        line-height: 64px;
        padding-left: 32px;
    }

    .jobs_checkboxes_column {
        width: 50px;
    }

    .job_table_actions_column {
        width: 150px;
        position: relative;

        > button {
            position: absolute;
            top: 7px;
        }

        > button:first-of-type {
            right: 32px;
        }

        > button:nth-of-type(2) {
            right: 121px;
        }
    }

    table {
        max-width: 900px;
        table-layout: fixed;

        .jobs_list_id_column {
            text-align: center;
        }

        .table_body {
            .jobs_list_id_column {
                text-align: left;
                > span:last-of-type {
                    display: inline-block;
                    margin-left: 22px;
                }
            }

            .jobs_list_column_title {
                white-space: nowrap;
            }
        }

        .jobs_list_column_created_at {
            text-align: right;
        }
    }
}