.create_employer_modal {
    .create_employer_modal_content {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;

        > div:not(:last-of-type) {
            margin-bottom: 12px;
        }
    }

    .create_employer_modal_actions {
        > button:first-of-type {
            margin-right: 12px;
        }
    }
}